/* AQUI A O STYLES DA TELA RPINCIPAL, HEADER E FOOTER */

@font-face {
    font-family: bebas;
    src: url(../fonts/BebasNeue-Regular.otf);
    src: url(../fonts/BebasNeue-Regular.ttf);
    font-weight: 700;
}

@font-face {
    font-family: vietnam;
    src: url(../fonts/BeVietnamPro-Regular.ttf);
}

/* Variáveis de cores */
:root {
    --azul-escuro: #00145A;
    --azul-normal: #2573D9;
    --branco: #F0F9FF;
    --cinza: #686461;
    --branco-bege: #F2E7DC;
}

body {
    margin: 0;
    padding: 0;
    max-width: 100vw;
    overflow-x: hidden;
    background-color: var(--branco-bege);
}

h2{
    font-family: bebas;
}
h3{
    font-family: bebas;
}
a{
    font-family: vietnam;
}
input{
    font-family: vietnam;
}

p{
    text-align: center;
    font-family: vietnam;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10px;
}
h1{
    text-align: center;
    font-family: vietnam;
    padding-top: 30px;
    
}


/* HEADER */
 
header{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5%;
}
main{
    background-image: url(/assets/images/fundo_buscaCursos.jpg);
}
.div-logo{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px 20px;
    width: 20%;

}

.div-logo img{
    width: 90%;
    height: 100%;
    margin-left: 100px;
    display: flex;
    flex-wrap: wrap;
}

/* NAV */
nav{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    align-items: center;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 30px;
    margin-left: 30px;
}
nav a{
    text-decoration: none;
    color: var(--branco-bege);
    font-size: 1.2rem;
    font-weight: 800;
}
nav a:hover{
    color: var(--azul-normal);
    transition: 0.3s;
    font-weight: 900;
}

.div_container{
    width: 100%;
    background-color: var(--azul-escuro);
    height: 100%;
}

/* botao login */

.div-login {
    width: 10%;
    margin-left: auto; /* Empurra o botão para o canto direito */
    display: flex;
}

.div-login a {
    text-decoration: none;
    color: var(--branco-bege);
    font-size: 1.2rem;
    font-weight: 900;
}
.div-login a:hover {
    color: var(--azul-normal);
    transition: 0.3s;
    font-weight: 900;
}



/* FOOTER */
footer{
    width: 100%;
    height: 10%;
    background-color: var(--branco-bege);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

footer ul{
    list-style: none;
    display: flex;
    gap: 25px;
}
footer a{
    text-decoration: none;
    color: var(--azul-escuro);
    font-size: 1.0rem;
}
footer a:hover{
    color: var(--cinza);
 }