/* AQUI A O STYLES DA TELA RPINCIPAL, HEADER E FOOTER */

@font-face {
    font-family: bebas;
    src: url(../fonts/BebasNeue-Regular.otf);
    src: url(../fonts/BebasNeue-Regular.ttf);
    font-weight: 700;
}

@font-face {
    font-family: vietnam;
    src: url(/fonts/BeVietnamPro-Regular.ttf);
}

/* Variáveis de cores */
:root {
    --azul-escuro: #00145A;
    --azul-normal: #2573D9;
    --branco: #F0F9FF;
    --cinza: #686461;
    --branco-bege: #F2E7DC;
}

h1{
    font-family: bebas;
}
h2{
    font-family: bebas;
}
h3{
    font-family: bebas;
}
h4{
    font-family: bebas;
}
a{
    font-family: vietnam;
}
p{
    font-family: vietnam;
}
input{
    font-family: vietnam;
}

body {
    margin: 0;
    padding: 0;
    max-width: 100vw;
    overflow-x: hidden;
}

.div_container{
    width: 100%;
    background-color: var(--azul-escuro);
    height: 100%;
}

/* HEADER */
 
header{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5%;
    bottom: 0;
}

.div-logo{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 20px;
    width: 20%;

}

.div-logo img{
    width: 80%;
    height: 100%;
    margin-left: 30%;
}

/* NAVE */
nav{
    display: flex;
    gap: 20px;
    width: 70%;
    justify-content: center;
    align-items: center;
    height: 10%;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
}
nav a{
    text-decoration: none;
    color: var(--branco-bege);
    font-size: 1.2rem;
    font-weight: 800;
}
nav a:hover{
    color: var(--azul-normal);
    transition: 0.3s;
    font-weight: 900;
}


/* botao login */

.div-login {
    width: 10%;
    margin-left: auto; /* Empurra o botão para o canto direito */
    display: flex;
}

.div-login a {
    text-decoration: none;
    color: var(--branco-bege);
    font-size: 1.2rem;
    font-weight: 900;
}
.div-login a:hover {
    color: var(--azul-normal);
    transition: 0.3s;
    font-weight: 900;
}
main{
    background-color: var(--azul-escuro);
}

/* Titulo */
.div-titulo{
    display: flex;
    height: 40%;
    width: 100%;
    bottom: 0;
}
.div-titulo h1{
    color: var(--branco);
    font-size: 3.5rem;
   padding-left: 3%;
}
.div-titulo img{
   width: 4%;
   height: 4%;
   position: relative;
   margin-top: 30px;
   margin-left: -1.5%;
}

/* TEXTO */

.div-texto{
    width: 100%;
    height: 60%;
    display: flex;  
    flex-direction: column;
    border-left: 8px solid var(--branco);
    margin-left: 7%; /* Espaço entre a borda e o texto */

}
.div-texto p{
    color: var(--branco);
    font-size: 1.0rem;
    padding-left: 1%;
    padding-right: 15%;
    line-height: 1.5;
    
}
/* Botao */
.div-button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 1%;
}
.div-button button{
   width: 25%;
    height: 30%;
    background-color: var(--azul-normal);
    color: var(--branco);
    border-width: 1px;
    border-color: var(--azul-normal);
    border-radius: 1.0rem;
    cursor: pointer;
    padding: 1%;
}
.div-button button h3{ 
    font-size: 1.7rem;
    font-weight: 900;
  
}
.div-button button a{ 
    font-size: 0.9rem;
    text-decoration: none;

}
.div-button button a:hover{ 
    color: var(--branco);
    transition: 0.3s;
    font-weight: 700;
    font-size: 1.0rem;
}

/* FOOTER */
footer{
    width: 100%;
    height: 10%;
    background-color: var(--branco-bege);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

footer ul{
    list-style: none;
    display: flex;
    gap: 25px;
}
footer a{
    text-decoration: none;
    color: var(--azul-escuro);
    font-size: 1.0rem;
}
footer a:hover{
   color: var(--cinza);
}